img.card-img-top {
    object-fit: cover;
    cursor: pointer;
}

img.card-img-top.girar {
    animation: fadein 2s;
    width: 200px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media all and (max-width: 600px) {
    div {
        width: 100%;
        height: auto;
        margin-left: 10px;
    }
}